* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.calculator {
    width: 400px;
    background-color: black;
    color: white;
}

.screen {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 20px;
}

.calc_button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
    align-content: center;
}

.calc_button:hover{
    background-color: #ebebeb;
}

.calc_button:active{
    background-color: #bbbcbe;
}

.calc_button:last-child {
    background-color: #df974c;
    color: white;
}

.calc_button:last-child:hover {
    background-color: #dfb07e;
}

.calc_button:last-child:active {
    background-color: #dd8d37;
}

.rows {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.double {
    width:  49.7%;
}

.triple {
    width: 74.8%;
}